{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container cart-container-temporary">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="text-uppercase">shopping cart</h2>
            <hr>
        </div>
    </div>
</div>
{% if cart_items %}
    {% if request.user.is_authenticated %}
        <div class="container cart-container">
            <div class="row">
                <table>
                    <thead>
                        <tr>
                            <th class="px-2">Service Info</th>
                            <th class="px-2">Properties</th>
                            <th class="px-2">Property Number Of Bedrooms</th>
                            <th class="px-2">Service Cost Per Property</th>
                            <th class="px-2">Total Cost For All Properties</th>
                        </tr>
                    </thead>
                        {% for item in cart_items %}
                        <tr>
                            <td rowspan="{{ item.properties|length }}" class="px-2">{{ item.service|title }}</td>
                            <td rowspan="{{ item.properties|length }}" class="px-2">
                                {% for property in item.properties %}
                                    <div class="{% if item.properties|length > 1%} add-border {% else %} border-0 {% endif %}">{{ property.address }}</div>
                                {% endfor %}
                            </td>
                            <td rowspan="{{ item.properties|length }}" class="text-center">
                                {% for property in item.properties %}
                                    <div class="{% if item.properties|length > 1%} add-border {% else %} border-0 {% endif %}">{{ property.no_of_bedrooms }}</div>
                                {% endfor %}
                            </td>
                            <td rowspan="{{ item.properties|length }}" class="px-2">
                                {% for property in item.properties %}
                                    <div class="{% if item.properties|length > 1%} add-border {% else %} border-0 {% endif %}">{{ property.total_cost }}</div>
                                {% endfor %}
                            </td>
                            <td rowspan="{{ item.properties|length }}" class="text-center">{{ item.total_for_all_properties }}</td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
{% endif %}


{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar').css('background-color', 'rgb(33,0,112)')
        $('.cart-container').addClass('cart-bottom')
    });
</script>
{% endblock %}