{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid border border-blue section-container">
    <div class="row">
        <div class="col-12">
            <div class="mx-auto text-center section-title-container">
                <h1 class="section-title">about us</h1>
            </div>
        </div>
    </div>
</div>
<div class="container about-container">
    <div class="row about-rows">
        <div class="col-4">
            <div class="about-divs">
                <h2 class="about-h2">connect with us</h2>
            </div>
        </div>
        <div class="col-4">
            <div class="about-divs">
                <div class="about-circle rounded-circle">

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="about-divs">
                <p class="about-pragraphs">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
    <div class="about-separators"></div>
    <div class="row about-rows">
        <div class="col-4">
            <div class="about-divs">
                <p class="about-pragraphs">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="about-divs">
                <div class="about-circle rounded-circle">

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="about-divs">
                <h2 class="about-h2">connect with us</h2>
            </div>
        </div>
    </div>
    <div class="about-separators"></div>
    <div class="row about-rows">
        <div class="col-4">
            <div class="about-divs">
                <h2 class="about-h2">connect with us</h2>
            </div>
        </div>
        <div class="col-4">
            <div class="about-divs">
                <div class="about-circle rounded-circle">

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="about-divs">
                <p class="about-pragraphs">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
    <div class="about-separators"></div>
</div>







{% endblock %}

