{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid border border-blue section-container">
    <div class="row">
        <div class="col-12">
            <div class="mx-auto text-center section-title-container">
                <h1 class="section-title">about us</h1>
            </div>
        </div>
    </div>
</div>
<div class="container about-container">
    <div class="row about-rows">
        <div class="d-none d-xl-block col-xl-4">
            <div class="about-divs">
                <h2 class="about-h2 text-capitalize">how it works?</h2>
            </div>
        </div>
        <div class="d-none d-xl-block col-xl-4">
            <div class="about-divs">
                <div id="how-it-works-circle" class="about-circles rounded-circle mx-auto">

                </div>
            </div>
        </div>
        <div class="col-12 d-xl-none">
            <div>
                <h2 id="who-are-we-tablets" class="text-capitalize">how it works?</h2>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="about-divs-p">
                <div class="about-pragraphs">
                    <h5>Register with us for a more personalised shopping experience.</h5>
                    <hr>
                    <p>
                        Many of our provided services vary in price, depending on the number of 
                        bedrooms the service is purchased for. In your profile, create your own list of properties. 
                        Upon selecting the service you wish to purchase, select the property to be executed for and the price 
                        will be automatically calculated. 
                    </p>
                    <p>
                        Some services have fixed price, regardless of the number of bedrooms 
                        the property comprises. When the order is complete, a detailed order history will be provided, stating 
                        each service for which property has been purchased. You can activate and deactivate as many properties as you want.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-separators"></div>
    <div class="row about-rows">
        <div class="col-12 d-xl-none">
            <div>
                <h2 class="about-h2-tablets text-capitalize">who are we?</h2>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="about-divs-p">
                <div id="we-are-we-paragraph" class="about-pragraphs">
                    <h5>Our team excels in excellent workmans, both in the office and on the field.</h5>
                    <hr>
                    <p>
                        Unlike many other property companies that rely on sub-contractors, 
                        we have a staff team of 30-plus professionals at the heart of the business. 
                        We also know exactly where to go if we need to bring in specialist skills; we only 
                        use contractors we know and trust. 
                    </p>
                    <p>
                        All of our operatives are qualified to the latest industry certification and, 
                        most importantly, they meet our exacting standards, too.
                        And, finally, if you have an unexpected problem, we’re able to mobilise the 
                        best person for the job to make sure that we respond to your emergency quickly, effectively and permanently.
                    </p>
                </div>
            </div>
        </div>
        <div class="d-none d-xl-block col-xl-4">
            <div class="about-divs">
                <div id="who-are-we-circle" class="about-circles rounded-circle mx-auto">

                </div>
            </div>
        </div>
        <div class="d-none d-xl-block col-xl-4">
            <div id="how-it-works-div" class="about-divs">
                <h2 class="about-h2 text-capitalize">who are we?
                </h2>
            </div>
        </div>
    </div>
    <div class="about-separators"></div>
    <div class="row about-rows">
        <div class="d-none d-xl-block col-xl-4">
            <div class="about-divs">
                <h2 class="about-h2 text-capitalize">what do we offer?</h2>
            </div>
        </div>
        <div class="d-none d-xl-block col-xl-4">
            <div class="about-divs">
                <div id="what-do-we-offer-circle" class="about-circles rounded-circle mx-auto">

                </div>
            </div>
        </div>
        <div class="col-12 d-xl-none">
            <div>
                <h2 class="about-h2-tablets text-capitalize">what do we offer?</h2>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="about-divs-p">
                <div id="what-do-we-offer-paragraph" class="about-pragraphs">
                    <h5>Our vision is to be the best forward-thinking provider of property services.</h5>
                    <hr>
                    <p> We strive in giving clients and end users the highest level of service 
                        at all times. We offer property management expertise across all areas of real estate, 
                        at every stage of the development life cycle. 
                    </p>
                    <p>
                        Adding value to assets is our primary focus, 
                        along with providing real insight and forward-thinking advice from our flexible team of global experts. Our 
                        customer-first approach combined with an in-depth knowledge of property and a global presence enables us to 
                        deliver outstanding property services to clients, and to offer an enhanced experience for all people involved.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="about-separators"></div>
    <div class="row about-buttons-row">
        <div class="col-4">
            <div class="about-buttons-divs text-center">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="rounded-circle hvr-rectangle-out about-buttons mx-auto text-center py-3">PROFILE</a>
                {% else %}
                    <a href="/accounts/login/" class="rounded-circle hvr-rectangle-out about-buttons mx-auto text-center py-3">SIGN IN</a>
                {% endif %}
            </div>
        </div>
        <div class="col-4">
            <div class="about-buttons-divs text-center">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'services' %}" class="rounded-circle hvr-rectangle-out about-buttons mx-auto text-center py-3">SERVICES</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="rounded-circle hvr-rectangle-out about-buttons mx-auto text-center py-3">REGISTER</a>
                {% endif %}   
            </div>
        </div>
        <div class="col-4">
            <div class="about-buttons-divs text-center">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'account_logout' %}" class="rounded-circle hvr-rectangle-out about-buttons mx-auto text-center py-3">SIGN OUT</a>
                {% else %}
                    <a href="{% url 'services' %}" class="rounded-circle hvr-rectangle-out about-buttons mx-auto text-center py-3">SERVICES</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>







{% endblock %}

