{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid home-container mh-100">
    <div class="row border border-blue landing-row">
        <div class="col-12">
            <div class="mx-auto text-center title-container">
                <h2>a full property service company you can trust</h2>
                <h1 class="main-title">solid properties</h1>
                <a href="{% url 'services' %}" class="main-action-buttons btn btn-lg rounded-0 text-uppercase py-3">services</a>
                <a href="" class="main-action-buttons btn btn-lg rounded-0 text-uppercase py-3">register</a>
            </div>
        </div>
    </div>
    <div class="row categories-title">
        <div class="col-12 text-center">
            <h2 class="text-uppercase font-weight-bold">main categories</h2>
            <h4 class="text-capitalize">see below our main categories of services</h4>
        </div>
    </div>
</div>
<div class="container category-container">
    <div class="row">
        {% for category in categories %}
            <div class="col-12 col-md-4 category-column">
                <a href="{% url 'services' %}?category={{ category.name }}"><img class="category-image shadow mb-5 bg-white" src="{{ category.image.url }}" alt="{{ category.name }}"></a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}  

{% block footer %}

<div class="container-fluid footer-container">
    <div class="row">
        <div class="col-md-6">
            <p id="social-paragraph">Follow us on: 
                <span id="facebook-span"><i class="fab fa-facebook-square"></i></span>
                <span><i class="fab fa-instagram"></i></span>
                <span><i class="fab fa-linkedin"></i></span>
                <span><i class="fab fa-twitter-square"></i></span>
            </p>
        </div>
        <div class="col-md-6">
            <div>
                <a href="#">Home</a>
                <a href="#">Sign In</a>
                {% if request.user.is_authenticated %}
                    <a href="#">Sign Out</a>
                {% else %}
                    <a href="#">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="mx-auto footer-horizontal"></div>  
    <div class="row footer-categories">
        <div class="col-12">
            <div class="mx-auto">
                <a id="legal-footer" href="#">Legal Services</a>
                <a href="#">Repairs & Refurbishment</a>
                <a href="#">Admin Services</a>
                <a href="#">Plumbing & Electric</a>
                <a href="#">Free</a>
                <a href="#">Marketing</a>
                <a href="#">Cleaning</a>
                <a href="#">Other</a>
            </div>
            <p class="mx-auto text-center copyright-message">Copyright Solid Properties Ltd. 2020. Registered OfficeL 212 Marylebone Rd, London, NW1 5LS</p>
        </div>
    </div>
</div>

{% endblock %}

