{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid border border-blue home-container">
    <div class="row">
        <div class="col-12">
            <div class="mx-auto text-center title-container">
                <h2>a full property management company you can trust</h2>
                <h1 class="main-title">solid properties</h1>
                <a href="" class="main-action-buttons btn btn-lg rounded-0 text-uppercase py-3">services</a>
                <a href="" class="main-action-buttons btn btn-lg rounded-0 text-uppercase py-3">register</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

