{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid home-container mh-100">
    <div class="row border border-blue landing-row">
        <div class="col-12">
            <div class="mx-auto text-center title-container">
                <h2>a full property service company you can trust</h2>
                <h1 class="main-title">solid properties</h1>
                <a href="{% url 'services' %}" class="main-action-buttons btn btn-lg rounded-0 text-uppercase py-3">services</a>
                <a href="" class="main-action-buttons btn btn-lg rounded-0 text-uppercase py-3">register</a>
            </div>
        </div>
    </div>
    <div class="row categories-title">
        <div class="col-12 text-center">
            <h2 class="text-uppercase font-weight-bold">main categories</h2>
            <h4 class="text-capitalize">see below our main categories of services</h4>
        </div>
    </div>
</div>

{% endblock %}  

