{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="billing-container" class="container-fluid form-containers">
    <div class="row checkout-title">
        <div class="col-12">
            <h1 class="text-uppercase">billing details</h1>
            <hr>
        </div>
    </div>
    <div id="billing-details-row" class="row">
        <div class="col-12 form-div mx-auto">         
            <p>Please see below your billing details.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-auto regular-form">
                <form action="{% url 'billing_details' %}" method="POST">
                    {% csrf_token %}
                    {{ billing_form|crispy }}
                    <input type="submit" value="UPDATE DETAILS" class="buttons register-property-button">
                </form>
        </div>
    </div>
</div>

{% block postloadjs %}

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar').css('background-color', 'rgb(33,0,112)');
    });
</script>

{% endblock %}

{% endblock %}