{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid border border-blue section-container">
    <div class="row">
        <div class="col-12">
            <div class="mx-auto text-center section-title-container">
                <h1 class="section-title text-uppercase">my profile</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid profile-container">
    <div class="row mt-0 checkout-title">
        <div class="col-12">
            <h4>Hello, {{ landlord|title }}.</h4>
            <p>
                Welcome to your Solid Properties Profile page.
            </p>
            <hr>
        </div>
    </div>
    <div class="row profile-row mt-3 mx-auto">
        <div class="col-12 col-md-6">
            <p class="head-p">Below are the properties for which you wish to purchase services. 
                So far you have registered {{ properties_count }} {% if properties_count == 1 %} property {% else %} properties {% endif %}.
                Feel free to add any numbers of properties you wish.
            </p>
            {% if properties %}
            <table class="table properties-table">
                <thead>
                    <tr id="head-properties-info">
                        <th scope="col" id="property-address-id">Property Address</th>
                        <th scope="col">Post Code</th>
                        <th scope="col" id="bedrooms-comprising">Number Of Bedrooms Comprising</th>
                    </tr>
                </thead>
                {% for property in properties %}
                <tbody>
                    <tr>
                        <td>{{ property.street_address }}
                            <form method="POST" action="{% url 'remove_property' property.id %}" class="remove-service remove-form">
                                {% csrf_token %}
                                <input type="submit" value="Remove" id="remove-service-buttons" class="buttons">
                            </form>
                        </td>
                        <td class="text-uppercase" id="post-code-id">{{ property.post_code }}</td>
                        <td>{{ property.no_of_bedrooms }} Bedrooms</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% else %}
            <h2>No properties registered.</h2>
            {% endif %}
            <a href="{% url 'add_property' %}"><button id="add-property" class="add-service-button buttons text-uppercase">{% if properties %} add another property {% else %} add your property {% endif %}</button></a>
        </div>
        <div class="col-12 col-md-6">
            <p class="head-p">Order History</p>
            <table style="width:100%">
                 <thead>
                    <tr>
                        <th><strong class="text-capitalize">order number</strong></th>
                        <th><strong class="text-capitalize">order date</strong></th>
                        <th><strong class="text-capitalize">total amount</strong></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <th><strong class="text-capitalize"><a href="{% url 'order_history' order.order_number %}">{{ order.order_number }}</a></strong></th>
                            <th><strong class="text-capitalize">{{ order.date }}</strong></th>
                            <th><strong class="text-capitalize">{{ order.grand_total }}</strong></th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% block postloadjs %}

<script type="text/javascript">
    $(document).ready(function () {
        $('.footer-container').addClass('profile-margin')
    });
</script>

{% endblock %}

{% endblock %}