{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid border border-blue section-container">
    <div class="row">
        <div class="col-12">
            <div class="mx-auto text-center section-title-container">
                <h1 class="section-title">landlord</h1>
            </div>
        </div>
    </div>
</div>
<div class="container profile-container">
    <div class="row profile-row mx-auto">
        <div class="col-12">
            <h4>
                Hello, {{ landlord|title }}.
            </h4>
            <p>
                Welcome to your Solid Properties profile page. Below are the properties for which you wish to purchase
                services.
                Feel free to add any numbers of properties you wish.
            </p>
            <table class="table no-of-properties">
                <thead>
                    <tr>
                        <th scope="col">Number Of Properties Registered</th>
                        <th scope="col">{{ properties_count }}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row profile-row mx-auto">
        <div class="col-12">
            <table class="table properties-table">
                <thead>
                    <tr>
                        <th scope="col">Property Address</th>
                        <th scope="col">Post Code</th>
                        <th scope="col ">Number Of Bedrooms Comprising</th>
                    </tr>
                </thead>
                {% for property in properties %}
                <tbody>
                    <tr>
                        <td>{{ property.street_address }}</td>
                        <td class="text-uppercase">{{ property.post_code }}</td>
                        <td>{{ property.no_of_bedrooms }} Bedrooms</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Order History</h3>
            {% for order in orders %}
                {{ order.order_number }}
            {% endfor %}
        </div>
    </div>
</div>

{% block postloadjs %}

<script type="text/javascript">
    $(document).ready(function () {
        $('.footer-container').addClass('profile-margin')
    });
</script>

{% endblock %}



{% endblock %}