{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid checkout-container">
    <div class="row checkout-title">
            <div class="col-12">
                <h1 class="text-uppercase">checkout</h1>
                <hr>
            </div>
        </div>
    
    <div class="row checkout-row">
        <div id="property-form" class="col-12 col-md-4">
            <p>Please fill out the form below to complete your order</p>
                <form id="checkout-form" action="" method="POST">
                    {% csrf_token %}
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    <input type="submit" value="PROCEED TO PAYMENT" class="buttons register-property-button">
                </form>
        </div>
        {% if cart_items %}
        <div class="col-12 col-md-8">
            <p id="order-summary-p">Please see in the table below your order summary</p>
            <table id="checkout-data-row" class="data-row-class">
                <thead>
                    <tr>
                        <th class="px-2 checkout-head-info head-info">Service Info</th>
                        <th class="px-2 checkout-head-info head-info text-center">Service Price Per Bedroom</th>
                        {% if request.user.is_authenticated %}
                            <th id="property-info" class="px-2 checkout-head-info head-info">Property</th>
                            <th class="text-center checkout-head-info head-info checkout-no-of-bedrooms-th">Property Number Of Bedrooms</th>
                        {% else %}
                            <th class="text-center checkout-head-info head-info checkout-no-of-bedrooms-th">Number Of Bedrooms The Service To Be Executed For</th>
                        {% endif %}
                        <th id="total-cost-per-property-th" class="text-center checkout-head-info head-info">Total Cost Per Property</th>
                        <th class="text-center checkout-head-info head-info data-total_for_all_properties">Total Cost For All Properties</th>
                        
                    </tr>
                </thead>
                    {% for item in cart_items %}
                    <tr id="data-tr">
                        <td id="service-data" class="px-2 text-uppercase"><strong>{{ item.service }}</strong>
                            <form method="POST" action="{% url 'remove_from_cart' item.service.id %}" class="remove-service remove-form">
                                {% csrf_token %}
                                <input type="submit" value="Remove" id="remove-service-buttons" class="buttons">
                            </form>
                        </td>
                        <td class="px-2 text-center">£<span class="currency-margin">{{ item.service.price }}</span></td>
                        {% if request.user.is_authenticated %}
                            <td class="px-2">
                                {% for property in item.properties_or_bedrooms %}
                                    <div id="address-data" class="table-data">{{ property.property.street_address }}</div>
                                    <form id="checkout-remove-address" method="POST" action="{% url 'remove_from_cart' item.service.id %}" class="remove_address remove-form">
                                    {% csrf_token %}
                                        <input type="hidden" name="property_id" value="{{ property.property.id }}">
                                        <input type="submit" value="Remove" class="buttons remove-buttons">
                                    </form>
                                    {% if not forloop.last %} <hr class="separator"> {% endif %}
                                {% endfor %}
                        {% endif %}
                            </td>
                        <td id="property-no-of-bedrooms" class="text-center">
                            {% if request.user.is_authenticated %}
                                {% for property in item.properties_or_bedrooms %}   
                                    {% if item.service.price_variation %}
                                        <div class="table-data data-no-of-bedrooms multiple-data">{{ property.property.no_of_bedrooms }}</div> {% if not forloop.last %} <hr class="separator"> {% endif %}
                                    {% else %}
                                        <div class="table-data data-no-of-bedrooms text-capitalize multiple-data">fixed price</div>  {% if not forloop.last %} <hr class="separator"> {% endif %}
                                    {% endif %}                               
                                {% endfor %}
                            {% else %}
                                {% for bedroom in item.properties_or_bedrooms %}
                                    {% if item.service.price_variation %}
                                        <div class="table-data data-no-of-bedrooms multiple-data">{{ bedroom.no_of_bedrooms }}</div>
                                        <form method="POST" action="{% url 'remove_from_cart' item.service.id %}" class="remove_address remove-form">
                                    {% csrf_token %}
                                        <input type="hidden" name="no_of_bedrooms" value="{{ bedroom.no_of_bedrooms }}">
                                        <input type="submit" value="Remove" class="buttons remove-buttons">
                                        </form> 
                                        {% if not forloop.last %} <hr class="separator"> {% endif %}
                                    {% else %}
                                        <div class="table-data data-no-of-bedrooms text-capitalize multiple-data">fixed price</div>  {% if not forloop.last %} <hr class="separator"> {% endif %}
                                    {% endif %}                               
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td id="total-cost-per-property-td" class="text-center">
                            {% for property_or_no_of_bedrooms in item.properties_or_bedrooms %}
                                <div class="table-data multiple-data">£<span class="currency-margin">{{ property_or_no_of_bedrooms.total_cost }}</span></div> {% if not forloop.last %} <hr class="separator"> {% endif %}
                            {% endfor %}
                        </td>
                        <td class="text-center data-total_for_all_properties">£<span class="currency-margin">{{ item.total_for_all_properties }}</span></td>
                    </tr>
                    {% endfor %}
            </table>
        
            <div class="grand-total-col mx-0 px-0 text-uppercase text-center">
                <div id="grand-total-checkout" class="grand-total">total: <span class="currency-margin">£<span id="grand-total-span">{{ grand_total }}</span></span></div>
            </div>
        
        </div>
    </div>
{% endif %}

{% endblock %}

{% block postloadjs %}

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar').css('background-color', 'rgb(33,0,112)');
    });
</script>

{% endblock %}