{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid checkout-container">
    <div class="row checkout-title">
            <div class="col-12">
                <h1 class="text-uppercase">checkout</h1>
                <hr>
            </div>
        </div>
    
<p>your order has been succesful. We have send a confirmation email to {{ order.email }}. your order total is {% if request.user.is_authenticated %} {{ order.grand_total }} {% else %} {{ order.grand_total_for_anonym }} {% endif %}</p>
</div>
<div class="container success-order-container">
    <div class="row">
        <div class="col-12">
            <fieldset>
                <legend class="success-tables-padding">Order Info</legend>
            <table class="success-tables shadow-sm mb-5 bg-white">
            <thead>
                    <tr class="first-tr">
                        <th class="px-2"><span class="success-tables-padding">Order Number</span></th>
                        <th class="px-2">Order Date</th>
                    </tr>
                </thead>
                    <tr id="data-tr">
                        <td class="px-2 text-uppercase"><strong><span class="success-tables-padding">{{ order.order_number }}</span></strong></td>
                        <td class="px-2">{{ order.date }}</td>
                    </tr>   
            </table>
            </fieldset>

            <fieldset class="mt-2">
                <legend class="success-tables-padding">Order Details</legend>
            <table class="success-tables shadow-sm mb-5 bg-white">
                <thead>
                    <tr class="first-tr">
                        <th class="px-2"><span class="success-tables-padding">Service</span></th>
                        <th class="px-2">Property</th>
                        <th class="px-2">Total Cost</th>
                    </tr>
                </thead>
                {% for item in order.lineitems.all %}
                    <tr>
                        <td class="px-2 text-capitalize"><strong><span class="success-tables-padding">{{ item.service.name }}</span></strong></td>
                        <td class="px-2">{{ item.the_property.street_address }}</td>
                        <td class="px-2">£{{ item.lineitem_total }}</td>
                    </tr>
                {% endfor %}   
            </table>
            </fieldset>

            <fieldset class="mt-2">
                <legend class="success-tables-padding">Billing Details</legend>
            <table class="success-tables shadow-sm mb-5 bg-white">
                <thead>
                    <tr class="first-tr">
                        <th class="px-2"><span class="success-tables-padding">Full Name</span></th>
                        <th class="px-2">Email Address</th>
                        <th class="px-2">Street Address</th>
                        {% if order.street_address2 %}
                            <th class="px-2">Street Address 1</th>
                            <th class="px-2">Street Address 2</th>
                        {% endif %}
                        <th class="px-2">Town or City</th>
                        <th class="px-2">Postal Code</th>
                        <th class="px-2">Phone Number</th>
                    </tr>
                </thead>
                    <tr>
                        <td class="px-2 text-capitalaize"><span class="success-tables-padding">{{ order.full_name }}</span></td>
                        <td class="px-2">{{ order.email }}</td>
                        <td class="px-2">{{ order.street_address1 }}</td>
                        {% if order.street_address2 %}
                            <tr class="px-2">{{ order.street_address2 }}</tr>
                        {% endif %}
                        <td class="px-2">{{ order.town_or_city }}</td>
                        <td class="px-2">{{ order.postcode }}</td>
                        <td class="px-2">{{ order.phone_number }}</td>
                    </tr>
            </table>
            </fieldset>

        </div>
</div>
</div>


{% endblock %}

{% block postloadjs %}

{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar').css('background-color', 'rgb(33,0,112)');
    });
</script>
    
{% endblock %}