@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500,700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.navbar {
    background-color: rgba(0, 0, 0, .2);
    color: #ffffff;
}

.navbar-transition {
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.blue {
    background-color: rgb(33,0,112);
}

.dark-gray {
    background-color: rgba(0, 0, 0, 0);
}

#navbar-brand {
    margin-left: 9.5%;
    font-weight: 900;
    font-size: 1.3rem;
    text-decoration: none;
    width: 50%;
}

.navbar-nav {
    margin-left: 25%;
    margin-right: 2% !important;
}

.navbar a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .05rem;
}

.btn-outline-success {
    color: #ffffff;
    border: 1px solid #ffffff;
    height: 2.4rem;
    transition-property: background-color, border;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.btn-outline-success:hover {
    background-color: rgb(2, 191, 191);
    border: 1px solid rgb(2, 191, 191);
}

.buttons {
    transition-property: background-color, color, border;
    transition-duration: .4s;
    transition-timing-function: ease;
}

/* --------------------------------------------------- footer section starts here -------------------------------------------------- */

.footer-container {
    background-color: rgb(33,0,112);
    color: #ffffff;
    padding: 1.5rem 1.5rem 0 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12.9rem;
    margin-top: 29%; 
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#container-wrapp {
  padding-bottom: 12.9rem;
}

.footer-container a {
    color: #ffffff;
    text-decoration: none;
}

.footer-horizontal {
    width: 70%;
    height: .05rem;
    background-color: #ffffff;
}

.social-row a {
    margin-left: 2.5rem;
}

.social-row a:first-child {
    margin-left: 25rem;
}

.footer-container p:first-child {
    margin-left: 17.7rem;
    font-size: 120%;
}

.footer-container p:first-child span:first-child:not(#facebook-span) span {
    display: inline;
    font-size: 150%;
    padding-top: .2rem;
    margin-left: 1.6rem;
}

#facebook-span {
    margin-left: 1rem;
}

.footer-categories {
    margin-top: 1.3rem;
    letter-spacing: .06rem;
}

.footer-categories a {
    margin-left: 4.1rem;
}

#legal-footer {
    margin-left: 17.5rem;
}

.copyright-message {
    margin-top: 1.7rem;
    font-weight: 100;
}

/* --------------------------------------------------- toast messages starts here -------------------------------------------------- */

.message-container {
    position: fixed;
    top: 72px;
    right: 25px;
    border-radius: 0;
    z-index: 2000;
}

.message-container i {
    font-size: 150%;
    margin-right: 2%;
}

#success {
    background-color: green !important;
}

/* --------------------------------------------------- form pages starts -------------------------------------------------- */

.form-containers {
    margin-top: 5%;
    margin-bottom: 6%;
}

.form-div {
    padding-left: 8%;
    width: 50%;
    font-size: 85%;
    color: rgba(0, 0, 0, .5);
}

.regular-form {
    width: 35%;
}

/* --------------------------------------------------- home page starts here -------------------------------------------------- */

            /* ------- landing section ------ */

.landing-row {
    height: 76vh;
    background: url('/media/house_tower.jpg') no-repeat center center fixed;
    background-size: cover;
}

.title-container {
    margin-top: 17%;
    padding: 2rem;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
}

.title-container h2 {
    font-style: italic;
    text-transform: capitalize;
}

.main-title {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 900 !important;
}

.main-action-buttons {
    height: 4rem;
    width: 9rem;
    background-color: rgb(2, 191, 191);
    color: #ffffff;
}

.categories-title {
    margin-top: 3.5%;
}

.categories-title h2 {
    font-size: 3rem;
    font-weight: bold !important;
    letter-spacing: .08rem;
}

.categories-title h4 {
    margin-top: 1%;
    font-size: 2rem;
}

            /* ------- category section ------ */

.category-container {
    margin-top: 5%;
    margin-bottom: 4.5%;
}

.category-image {
    width: 21rem;
    height: 18rem;
}

.category-image:hover {
    box-shadow: none;
}

.category-column {
    margin-bottom: 2%;
}

/* --------------------------------------------------- service page starts here -------------------------------------------------- */

.services-container {
    margin-top: 5%;
}

.services-row {
    margin-top: 9%;
}

.section-container {
    height: 30vh;
    background: url('/media/shard.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
}

.section-title-container {
    margin-top: 11%;
}

.section-title {
    color: #ffffff;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.service-holder {
    margin-bottom: 1.9rem;
}

.rounded-circle {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
    border: 2px solid rgb(2, 191, 191);
    background-color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.rounded-circle:hover {
    background-color: rgb(2, 191, 191);
}

.service-name {
    font-weight: 700;
    margin-bottom: 0;
    text-transform: capitalize;
}

.service-description {
    font-size: .8rem;
}

.see-more {
    color: rgb(33,0,112);
    text-decoration: none;
    margin-left: 1.1%;
}

.filtering-container {
    margin-top: 2%;
}

.filtering-buttons {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    width: 9rem;
    border: 1px solid rgb(2, 191, 191);
    border-radius: 0;
}

/* --------------------------------------------------- detailed service page starts here -------------------------------------------------- */

.horizontal-separator {
    margin-bottom: 5%;
}

.service-image {
    width: 70%;
    height: 450px;
}

.total-bedrooms {
    margin-left: 5rem;
}

#price-col {
    margin-top: 3%;
}

.price {
    margin-left: .2rem;
}

.property-container {
    margin-top: 4%;
}

.property-select-text {
    margin: 1.8% 0;
    width: 70%;
    font-size: 80%;
}

.add-service-button {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    border: none;
    width: 9rem;
    height: 2.4rem;
    margin-top: 0;
    font-size: 76%;
    border: 1px solid rgb(2, 191, 191);
}

.main-action-buttons:hover,
.filtering-buttons:hover,
#adjust-cart-button:hover,
#continue-shopping-cart:hover,
.add-service-button:hover {
    background-color: rgb(2, 209, 209);
    color: #ffffff;
}

#continue-shopping-service,
.continue-shopping-button {
    background-color: #ffffff;
    color: rgb(2, 191, 191);
    border: 1.5px solid rgb(2, 191, 191);
    font-weight: 700;
}

#continue-shopping-service {
    font-size: 74%;
    margin-left: 1.6%;
    padding: .7rem .5rem;
    text-decoration: none;
}

.continue-shopping-button:hover,
#continue-shopping-service:hover {
    color: rgb(2, 204, 204);
    border: 1.5px solid rgb(2, 209, 209)
}

/* --------------------------------------------------- add property page starts here -------------------------------------------------- */

#add-property-row {
    margin-top: 3%;
}

#add-property-div {
    width: 35%;
    padding-left: .6%;
}

#property-form label {
    font-size: 120%;
}

.register-property-button {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    border: 1px solid rgb(2, 191, 191);
    border-radius: 0;
    width: 100%;
    height: 4rem;
    font-size: 130%;
    letter-spacing: .5px;
}

.register-property-button:hover {
    background-color: #ffffff;
    color: rgb(2, 191, 191);
}

.form-control {
    margin-bottom: 2.5%;
    border-radius: 0;
}

/* --------------------------------------------------- profile page -------------------------------------------------- */

.profile-margin {
    margin-top: 8%
}

.profile-container {
    margin-top: 1.9%;
    margin-bottom: 5%;
}

.head-p {
    color: rgba(0, 0, 0, .5);
    font-size: 90%;
    width: 80%;
}

.profile-row {
    width: 91.4%;
}

#property-address-id {
    width: 21.8rem;
}

#bedrooms-comprising {
    width: 12rem;
}

.properties-table {
    width: 80%;
}

#head-properties-info {
    background-color: rgba(0, 0, 0, .2);
    color: rgb(33,0,112);
}

.activate-buttons {
    float: right;
    background-color: #ffffff;
    width: 4.6rem;
    height: 2rem;
    font-size: 74%;
    border: none;
}

.deactivate-button {
    border: 1px solid rgb(212, 0, 0);
    color: rgb(212, 0, 0);
}

.activate-button {
    border: 1px solid rgb(0, 212, 127);
    color: rgb(0, 212, 127);
}

.activate-button:hover {
    background-color: rgb(0, 212, 127);
    color: #ffffff;
}

.active {
    color: rgb(0, 0, 0);
}

.not-active {
    color: rgba(0, 0, 0, .2);
}

.no-of-properties {
    width: 38%;
}

#no-of-properties-th {
    width: 13.2rem;
    font-size: 98%;
}

.no-of-properties th:not(#no-of-properties-th) {
    width: 2rem;
    padding-left: 6%;
}

.profile-buttons {
    width: 15rem;
    height: 2.8rem;
}

#billing-details-div {
    margin-top: 4%;
}

#billing-details-link {
    text-decoration: none;
    color: rgb(2, 191, 191);
}

#billing-details-button {
    background-color: #ffffff;
    color: rgb(2, 191, 191);
    display: block;
    border: 1px solid rgb(2, 191, 191);
}

#billing-details-button:hover {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
}

.order-history-table {
    width: 100%;
}

.order-history-table a {
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
    font-weight: 400;
}

.order-history-table, 
.order-history-table th, 
.order-history-table td {
    border: none;
    height: 2.8rem;
}

#order-number-th {
    text-decoration: none;
    color: rgba(0, 0, 0, .6);
    font-weight: 400;
}

/* --------------------------------------------------- cart page starts here -------------------------------------------------- */

.cart-container {
    margin-top: 6.5%;
    margin-bottom: 8%;
}

.shopping-title {
    margin-top: 6.5%;
    margin-left: 3.89%;
}

.cart-empty-row {
    margin-top: .8%;
    margin-left: 3.89%;
}

#data-row {
    margin-top: .8% !important;
    width: 90%;
    margin: auto;
}

.cart-bottom {
    margin-bottom: 20%;
}

table, th, td {
  border: 1px solid rgb(0, 0, 0);
}

th, td {
    width: auto;
}

.separator {
    margin: 0;
    padding: 0;
}

#address-data-order {
    height: 3rem;
    display: inherit;
    width: 20rem;  
}

.data-no-of-bedrooms {
    width: 15rem;
}

.data-total_for_all_properties {
    width: 16rem;
}

#data-row td {
    min-height: 5rem;
}

#data-row tr:nth-child(even) {
    background-color: rgb(237, 237, 237);
}

#data-row tr:nth-child(odd) {
    background-color: rgba(237, 237, 237, .1);
}

.head-info {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(33,0,112, .9);
    color: #ffffff;
}

.table-data {
    padding-top: 2%;
    padding-bottom: 2%;
}

.grand-total-row {
   margin-top: 2%;
}

.table-buttons {
    float: right;
    width: 30rem;
    margin-right: 4%;
}

#continue-shopping-cart,
.secure-checkout-button {
    width: 13rem;
    height: 3.48rem;
    font-size: 95%;
    font-weight: 400;
}

#continue-shopping-cart {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    margin-right: 5%;
    font-size: 600;
}

.secure-checkout-button {
    background-color: rgba(0, 0, 0, .9);
    color: #ffffff;
}

.grand-total-div {
    color: rgb(33,0,112);
    width: 60rem;
    height: 3.48rem;
    margin-right: 4.5%;
    float: right;
}

#inlcluding-vat-span {
    opacity: .8;
    font-size: 60%;
    margin-right: 9%;
}

#total-amount-span {
    float: right;
    width: 19.4rem;
}

#grand-total-span {
    font-size: 140%;
    font-weight: 700;
}

.remove-service {
    display: inline;
}

#remove-service-buttons {
    float: right;
    width: 2.5rem;
    font-size: 50%;
    height: 1.5rem;
    padding-right: 2%;
}

#remove-property {
    position: relative;
    left: 2rem;
}

#service-data {
    width: 20rem;
}

.address-data, 
.remove_address {
    display: inherit;
}

#remove-buttons-holder {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    float: right;
}

#remove-property-buttons-holder {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

#remove-property-buttons,
#remove-service-buttons {
    width: 0;
    height: 0;
    opacity: 0;
}

.remove-icons {
    color: rgba(212, 0, 0, .6);
}

.deactivate-button:hover {
    background-color: rgb(212, 0, 0);
    color: #ffffff;
}

.multiple-data {
    height: 2.98rem;
    box-sizing: border-box;
}

/* --------------------------------------------------- checkout page starts here -------------------------------------------------- */

.checkout-container { 
    padding: 0;
}

.checkout-title {
    margin-top: 6%;
    margin-left: 4.4%;
    width: 89.5%;
}

#property-form select[name="country"] {
    color: rgba(0, 0, 0, .6);
}

.checkout-row {
    margin-bottom: 6%;
}

.checkout-row p {
    margin-left: 15%;
}

#save-details {
    color: rgba(0, 0, 0, .5) !important;
    font-size: 76% !important;
}

#save-details a {
    color: rgb(2, 191, 191) !important;
}

#save-details a:hover {
    color: rgb(2, 191, 191) !important;
    text-decoration: underline;
}

#place-order-button {
    background-color: rgba(0, 0, 0, .9);
    color: #ffffff;
    border: none;
}

#place-order-button:hover,
/* including the secure-checkout-button from checkout page */
.secure-checkout-button:hover {
    background-color: rgba(0, 0, 0, .8);
}

#order-summary-p {
    margin-left: 0;
}

#checkout-form {
    width: 70%;
    float: right;
    margin-right: 15%;
}

.checkout-legends {
    font-size: 72%;
}

#checkout-data-row {
    width: 90%;
    font-size: 85%;
    margin-top: 3.1%;
}

#checkout-data-row th,
#checkout-data-row td {
    border: 1px solid rgba(0, 0, 0, .2);
}

.checkout-head-info {
    background-color: rgb(33,0,112);
    color: #ffffff;
}

#total-cost-per-property-th {
    width: 10rem
}

.checkout-no-of-bedrooms-th {
    width: 10rem;
}

#property-info {
    width: 44rem;
}

#data-tr form {
    display: table-cell;
}

#property-no-of-bedrooms div {
    box-sizing: border-box;
    padding-top: 8.5%;
}

#address-data-checkout {
    width: 20rem;
    box-sizing: border-box;
    padding-top: 7%;
}

#total-cost-per-property-td div {
    box-sizing: border-box;
    padding-top: 8.5%;
}

#checkput-grand-total-div {
    margin-right: 9%;
}

#checkout-buttons {
    margin-right: 3.5%;
}

#checkout-continue-shopping-button {
    margin-right: 1.6%;
}


.continue-shopping-button,
#adjust-cart-button {
    width: 10rem;
    height: 2.5rem;
    font-size: 80%;
}

#adjust-cart-button {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    font-weight: 400;
}

#charging-details {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    padding: .5px 0 0 12px;
}

#charging-details-total {
    margin-left: .5%;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* --------------------------------------------------- success_checkout page starts here -------------------------------------------------- */

.success-checkout-container {
    margin-top: 30%;
}

#order-summary-span {
    color: rgba(0, 0, 0, .5);
}

.success-order-container legend {
    font-size: 120%;
}

.success-tables {
    width: 75%;
    padding-left: 2%;
    padding-right: 2%;
}

.order-details-col {
    padding-left: 10rem;
    margin-top: 3.2%;
    margin-bottom: 5%;
}

.order-details-col p:not(#billing-total) {
    padding-left: 4.6%;
    font-size: 90%;
}

.not-active-success {
    color: rgba(0, 0, 0, .5);
}

#success-active {
    margin: 0;
    padding: 0 !important;
    font-size: 60% !important;
    color: rgb(212, 0, 0);
}

.success-tables, 
.success-tables th, 
.success-tables td {
    border: none;
    height: 2.5rem;
}

.first-tr {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.success-tables-padding {
    padding-left: 15.7%;
}

.success-tables-padding-not-logged {
    padding-left: 24.5%;
}

.order-number-span {
    padding-left: 7%;
}

#order-date-th {
    width: 10rem;
}

#order-date-td {
    font-size: 87.4%;
}

.order-billing-legends {
    padding-left: 4.8%;
}

#order-details-legend {
    padding-left: 4.8%;
}

#lineitem-total-td {
    width: 10rem;
}

.billing-address-email {
    padding-left: 9%;
}

.billing-address-address {
    width: 10rem;
}

.street-address-details {
    font-size: 87.4%;
}

.billing-address-details {
    padding-left: 15.6%;
}

.billing-addess-not-logged {
    padding-left: 20.6%;
}

#billing-total {
    float: right;
    width: 20rem;
    margin-right: 15%;
}

#total-amount {
    margin-left: 10%;
}

/* --------------------------------------------------- billing details starts here -------------------------------------------------- */

#billing-container {
    margin-top: 2%;
}


#billing-div {
    padding-left: 8%;
}

#billing-details-row {
    margin-top: 2.1%;
}

/* --------------------------------------------------- logout pages start here -------------------------------------------------- */

/* ------------------ login page ------------------ */

#login-paragraph,
#sign-up-paragraph {
    width: 28%;
    color: rgba(0, 0, 0, .5);
    font-size: 92%;
}

#login-paragraph {
    padding-left: .4%;
}

#login-row {
    margin-top: 2%;
}

.login-form {
    width: 28%;
}

.login-a {
    color: rgb(2, 191, 191);
}

.login-a:hover {
    color: rgb(2, 191, 191);
}

/* ------------------ logout page ------------------ */

#logout-form {
    width: 17%;
}

#logout-p {
    margin-top: 6%;
}

/* ------------------ sign up page ------------------ */

#signup_form {
    margin-top: 1%;
}

#sign-up-paragraph {
    padding-left: .8%;
}



