@import url('https://fonts.googleapis.com/css2?family=Lato&family=Cormorant+Garamond&family=Crimson+Pro:wght@100;300;400;500,700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.navbar {
    background-color: rgba(0, 0, 0, .2);
    color: #ffffff;
}

.navbar-transition {
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.blue {
    background-color: rgb(33,0,112);
}

.dark-gray {
    background-color: rgba(0, 0, 0, 0);
}

#navbar-brand {
    margin-left: 9.5%;
    font-weight: 900;
    font-size: 1.3rem;
    text-decoration: none;
    width: 50%;
}

.navbar-nav {
    margin-left: 20.6%;
    margin-right: .9rem !important;
}

.navbar a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .05rem;
}

#shopping-cart-nav {
    position: absolute;
    right: 2.1rem;
}

.add-opacity {
    opacity: 0;
}

.navbar-toggler {
    background-color: rgb(2, 191, 191);
}

#shopping-cart-i {
    font-size: 170%;
    margin-top: 0;
}

#shopping-cart-a {
    text-decoration: none;
    margin-left: .9rem;
    position: relative;
}

#count-cart-span {
    font-size: 74%;
    background-color: rgb(2, 191, 191);
    display: inline-block;
    width: 1.05rem;
    text-align: center;
    position: absolute;
    font-weight: 600;
}

#shopping-cart-a:hover {
    color: #e8e8e8;
}

.btn-outline-success {
    color: #ffffff;
    border: 1px solid #ffffff;
    height: 2.4rem;
    transition-property: background-color, border;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.btn-outline-success:hover {
    background-color: rgb(2, 191, 191);
    border: 1px solid rgb(2, 191, 191);
}

.navbar-nav .nav-link {
    padding-bottom: 0;
    margin-bottom: 8.5px;
}

.navbar-toggler-icon {
    background-color: rgb(33,0,112);
}

.buttons {
    transition-property: background-color, color, border;
    transition-duration: .4s;
    transition-timing-function: ease;
}

/* --------------------------------------------------- footer section starts here -------------------------------------------------- */

.footer-container {
    background-color: rgb(33,0,112);
    color: #ffffff;
    padding: 1.5rem 1.5rem 0 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12.9rem;
    margin-top: 29%; 
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#container-wrapp {
  padding-bottom: 12.9rem;
}

.footer-links {
    color: #ffffff;
    text-decoration: none;
    margin-left: 2.5rem;
}

.social-links {
    color: #ffffff;
    text-decoration: none;
}

.social-links:hover,
.footer-links:hover {
    color: #ffffff;
    text-decoration: none;
}

#footer-home-link {
    margin-left: 25rem;
}

.footer-horizontal {
    width: 70%;
    height: .05rem;
    background-color: #ffffff;
}

.footer-container p:first-child {
    margin-left: 17.7rem;
    font-size: 120%;
}

.footer-container p:first-child span:first-child:not(#facebook-span) span {
    display: inline;
    font-size: 150%;
    padding-top: .2rem;
    margin-left: 1.6rem;
}

#facebook-span {
    margin-left: 1rem;
}

.footer-categories {
    margin-top: 1.3rem;
    letter-spacing: .06rem;
}

.footer-categories a {
    margin-left: 3.9rem;
    color: #ffffff;
    text-decoration: none;
}

#legal-footer {
    margin-left: 17.5rem;
}

.copyright-message {
    margin-top: 1.7rem;
    margin-bottom: 0;
    font-weight: 100;
}

/* --------------------------------------------------- toast messages starts here -------------------------------------------------- */

.message-container {
    position: fixed;
    top: 72px;
    right: 25px;
    border-radius: 0;
    z-index: 2000;
}

.message-container i {
    font-size: 150%;
    margin-right: 2%;
}

#success {
    background-color: green !important;
}

/* --------------------------------------------------- form pages starts -------------------------------------------------- */

.form-containers {
    margin-top: 5%;
    margin-bottom: 6%;
}

.form-div {
    padding-left: 8%;
    width: 50%;
    font-size: 85%;
    color: rgba(0, 0, 0, .5);
}

.regular-form {
    width: 35%;
}

.personalised-shopping-div {
    background-color: rgba(2, 191, 191, .75);
    color: #ffffff;
    padding: .6rem 0;
    width: 100vw;
    margin: 0;
}

.opaque {
    background-color: rgb(2, 191, 191);
}

.personalised-shopping-div p {
    margin: 0;
    letter-spacing: .2rem;
    font-weight: 700;
}

#personalised-shopping-a {
    color: #ffffff;
}

/* --------------------------------------------------- home page starts here -------------------------------------------------- */

            /* ------- landing section ------ */

.landing-row {
    height: 76vh;
    background: url('/media/house_tower.jpg') no-repeat center center fixed;
    background-size: cover;
}

.title-container {
    margin-top: 17%;
    padding: 2rem;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
}

.title-container h2 {
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: .1rem;
}

.main-title {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 900 !important;
}

.main-title,
#navbar-brand {
    font-family: 'Crimson Pro', serif;   
}

.section-title {
    font-family: 'Noto Serif', serif;
}

.main-action-buttons {
    width: 9rem;
    height: 4rem;
    background-color: rgb(2, 191, 191);
    color: #ffffff;
}

.categories-title {
    margin-top: 3.5%;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: .1rem;
}

.categories-title h2 {
    font-size: 3rem;
    font-weight: 500;
    
}

.categories-title h4 {
    margin-top: 1%;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}

            /* ------- category section ------ */

.category-container {
    margin-top: 5%;
    margin-bottom: 6.9%;
}

.category-column {
    margin-bottom: 3rem;
    width: 18rem;
    transition-property: box-shadow;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.category-column:hover {
    box-shadow: 8px 8px 5px grey;
}

.category-image {
    width: 18rem;
    height: 15rem;
}

#category-name {
    height: 3rem;
    border: 1px solid rgba(0, 0, 0, .1);
    border-top: none;
    margin-top: 0;
    padding-top: .8rem;
    width: 18rem;
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, .6);
    text-decoration: none;
    display: inline-block;
}

/* --------------------------------------------------- personalised shopping page starts here -------------------------------------------------- */

.personalised-container {
    margin-top: 3.5%;
    margin-bottom: 3.9%;
}

.personalised-div li,
.personalised-div p {
    letter-spacing: .1rem;
}

.personalised-div li {
    line-height: 200%;
}

#register-personalised {
    color: rgb(0, 0, 0);
}

#follow-the-steps {
    margin-top: 2%;
}

.personalised-action-buttons {
    margin-top: 1%;;
}

.personalised-continue-shopping,
.personalised-register {
    width: 14rem;
    height: 2.9rem;
    border: none;
}

.personalised-register {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
}

.personalised-continue-shopping {
    background-color: #ffffff;
    color: rgb(2, 191, 191);
    border: 1px solid rgb(2, 191, 191);
    margin-left: 2%;
    font-weight: 600;
}

/* --------------------------------------------------- about page starts here -------------------------------------------------- */

.about-container {
    margin-top: .9rem;
}

.about-container h2 {
    letter-spacing: .1rem;
}

.about-separators {
    border: 1px solid rgba(0, 0, 0, .6);
}

.about-divs {
    width: 80%;
    height: 20.9rem;
}

.about-divs-p {
    width: 100%;
    height: 18rem;
}

.about-h2 {
    margin-top: 12.9rem;
}

#how-it-works-div {
    width: 100%;
}

#how-it-works-div h2 {
    margin-left: 39%;
}

.about-circles {
    background: url('/media/shard.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 15rem;
    height: 15rem;
    margin-top: 7rem;
    background-attachment: scroll !important;
}

#how-it-works-circle {
    background: url('/media/how-it-works.jpeg') no-repeat center center fixed;
}

#who-are-we-circle {
    background: url('/media/who-are-we.jpeg') no-repeat center center fixed;
}

#what-do-we-offer-circle {
    background: url('/media/what-do-we-offer.jpeg') no-repeat center center fixed;
    background-size: 500px 300px;
}

.about-pragraphs {
    margin-top: 5rem;
    letter-spacing: .1rem;
}

#we-are-we-paragraph {
    margin-top: 3.2rem;
}

.about-pragraphs h5 {
    font-weight: 500;
}

#what-do-we-offer-paragraph {
    margin-top: 3.5rem;
}

.about-buttons-row {
    padding-right: 4.6rem;
}

.about-buttons-divs {
    height: 18rem;
}

.about-buttons {
    width: 6.8rem;
    height: 6.8rem;
    border: 2px solid rgb(2, 191, 191);
    margin-top: 5rem;
    padding-top: 2.4rem !important;
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(2, 191, 191);
    font-weight: 800;
    font-size: 119%;
}

.details {
    color: rgb(2, 191, 191);
    text-decoration: underline;
}

.details:hover {
    color: rgb(2, 191, 191);
}

/* --------------------------------------------------- service page starts here -------------------------------------------------- */

.services-container {
    margin-top: 5%;
    margin-bottom: 6.9%;
}

.services-row {
    margin-top: 9%;
}

.section-container {
    height: 30vh;
    background: url('/media/shard.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
}

.section-title-container {
    margin-top: 11%;
}

.section-title {
    color: #ffffff;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 12.5%;
    font-family: 'Cormorant Garamond', serif;
}

.service-holder {
    margin-bottom: 1.9rem;
}

.service-circles {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
    border: 2px solid rgb(2, 191, 191);
    background-color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.hvr-rectangle-out:before {
    background: rgb(2, 191, 191);
    border-radius: 50%;
}

.hvr-underline-from-center:before {
    background-color: #ffffff;
    height: 1.55px;
    
}

.category-icon-i {
    color: rgb(2, 191, 191);
    font-size: 190%;
}

.service-circles:hover > .category-icon-i {
    color: #ffffff;
}

.white-color {
    color: #ffffff;
}

.service-name {
    font-weight: 700;
    margin-bottom: 0;
    text-transform: capitalize;
}

.service-description {
    margin-bottom: 0;
}

.see-more {
    color: rgb(2, 191, 191);
    padding: 0 !important;
    font-size: .8rem;
}

.see-more:hover {
    color: rgb(2, 191, 191);
}

.filtering-container {
    margin-top: 2%;
}

.filtering-buttons {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    width: 9rem;
    border: 1px solid rgb(2, 191, 191);
    border-radius: 0;
}

/* --------------------------------------------------- detailed service page starts here -------------------------------------------------- */

#detailed-service-container {
    margin-top: 9.8rem;
    margin-bottom: 5rem;
    padding: 0;
}

.horizontal-separator {
    margin-bottom: 5%;
}

.service-image {
    width: 70%;
    height: 450px;
}

.total-bedrooms {
    margin-left: 5rem;
}

#price-col {
    margin-top: 3%;
}

.price {
    margin-left: .2rem;
}

#option-no-of-bedrooms {
    margin-left: 5% !important;
}

.property-container {
    margin-top: 4%;
}

.property-select-text {
    margin: 1.8% 0;
    width: 70%;
    font-size: 80%;
}

.add-service-button {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    border: none;
    width: 9rem;
    height: 2.4rem;
    margin-top: 0;
    font-size: 76%;
    border: 1px solid rgb(2, 191, 191);
    position: relative;
    bottom: .19%;
}

.confirmation-button:hover,
.personalised-register:hover,
.profile-order-history:hover,
#continue-shopping-add-property:hover,
.back-to-profile-a:hover,
.register-property-button:hover,
.main-action-buttons:hover,
.filtering-buttons:hover,
#adjust-cart-button:hover,
#continue-shopping-cart:hover,
.add-service-button:hover {
    background-color: rgb(2, 209, 209);
    color: #ffffff;
}

#continue-shopping-service,
.continue-shopping-button {
    background-color: #ffffff;
    color: rgb(2, 191, 191);
    border: 1.5px solid rgb(2, 191, 191);
    font-weight: 700;
}

#continue-shopping-service {
    font-size: 74%;
    margin-left: 1.6%;
    padding: .7rem .5rem;
    text-decoration: none;
}

.personalised-continue-shopping:hover,
#checkout-continue-shopping-button:hover,
.continue-shopping-button:hover,
#continue-shopping-service:hover {
    color: rgb(2, 204, 204);
    border: 1.5px solid rgb(2, 209, 209)
}

#checkout-buttons-details-div {
    margin-top: 1.19rem;
}

#secure-checkout-detailed {
    font-size: 76%;
    padding: .8rem .68rem;
    text-decoration: none;
    box-sizing: border-box;
}

#view-cart-detailed {
    background-color: #ffffff;
    color: rgb(0, 0, 0);   
    border: 1px solid rgb(0, 0, 0);
    text-decoration: none;
    padding: .75rem 2.44rem;
    margin-left: 1.6%;
    box-sizing: border-box;
    font-size: 74%;
    font-weight: 700;  
}

#secure-checkout-detailed:hover {
    color: #ffffff;
}

#view-cart-detailed:hover {
    color: rgba(0, 0, 0, .8);
    border: 1px solid rgba(0, 0, 0, .8);
}

/* --------------------------------------------------- add property page starts here -------------------------------------------------- */

#add-property-row {
    margin-top: 3%;
}

#add-property-div {
    width: 35%;
    padding-left: .6%;
}

#property-form label {
    font-size: 120%;
}

#add-property-button {
    width: 11rem;
    height: 2.9rem;
    font-size: 85%;
    letter-spacing: .5px;
}

#continue-shopping-add-property {
    text-decoration: none;
    border: 1px solid rgb(2, 191, 191);
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    font-size: 85%;
    padding: .95rem 2rem;
    margin-left: 1rem;
}

.active-property-box {
    margin-top: 3%;
    margin-bottom: 2%;
    opacity: .8;
    color: rgb(145, 1, 1);
    font-size: 85%;
}

.register-property-button {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    border: 1px solid rgb(2, 191, 191);
    border-radius: 0;
    width: 15rem;
    height: 4rem;
    font-size: 130%;
    letter-spacing: .5px;
}

#activate {
    opacity: 0;
}

.back-to-profile-a {
    text-decoration: none;
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    padding: 1.25rem 1.8rem 1.29rem 1.8rem;
    margin-left: 1rem;
    font-size: 130%;
}

.form-control {
    margin-bottom: 2.5%;
    border-radius: 0;
}

/* --------------------------------------------------- profile page -------------------------------------------------- */

.profile-margin {
    margin-top: 8%
}

.profile-container {
    margin-top: 1.9%;
    margin-bottom: 5%;
}

.head-p {
    color: rgba(0, 0, 0, .5);
    font-size: 90%;
    width: 80%;
}

.profile-row {
    width: 91.4%;
}

#profile-personalised-shopping-a {
    color: rgb(2, 191, 191);
}

#profile-personalised-shopping-a:hover {
    color: rgb(2, 191, 191);
}

#property-address-id {
    width: 21.8rem;
}

#bedrooms-comprising {
    width: 12rem;
}

.properties-table {
    width: 80%;
    margin-bottom: 2.1rem;
    text-align: center;
}

#head-properties-info {
    background-color: rgba(0, 0, 0, .2);
    color: rgb(33,0,112);
    height: 3rem;
}

.activate-buttons {
    float: right;
    background-color: #ffffff;
    width: 4.6rem;
    height: 2rem;
    font-size: 74%;
    border: none;
}

.deactivate-button {
    border: 1px solid rgb(212, 0, 0);
    color: rgb(212, 0, 0);
}

.activate-button {
    border: 1px solid rgb(0, 212, 127);
    color: rgb(0, 212, 127);
}

.activate-button:hover {
    background-color: rgb(0, 212, 127);
    color: #ffffff;
}

.active {
    color: rgb(0, 0, 0);
}

.not-active {
    color: rgba(0, 0, 0, .2);
}

.no-of-properties {
    width: 38%;
}

#no-of-properties-th {
    width: 13.2rem;
    font-size: 98%;
}

.no-of-properties th:not(#no-of-properties-th) {
    width: 2rem;
    padding-left: 6%;
}


#billing-details-div {
    margin-top: 4%;
}

#billing-details-link {
    text-decoration: none;
    color: rgb(2, 191, 191);
}

#billing-details-button {
    background-color: #ffffff;
    color: rgb(2, 191, 191);
    display: block;
    border: 1px solid rgb(2, 191, 191);
}

#billing-details-button:hover {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
}

.order-history-table {
    width: 100%;
}

.order-history-table a {
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
    font-weight: 400;
}

.order-history-table, 
.order-history-table th, 
.order-history-table td {
    border: none;
    height: 2.8rem;
}

#order-number-th {
    text-decoration: underline;
    color: rgba(0, 0, 0, .6);
    font-weight: 400;
}

/* --------------------------------------------------- cart page starts here -------------------------------------------------- */

.cart-container {
    margin-top: 6.5%;
    margin-bottom: 8%;
}

.shopping-title {
    margin-top: 6.5%;
    margin-left: 3.89%;
}

.cart-empty-row {
    margin-top: .8%;
    margin-left: 3.89%;
}

#data-row {
    margin-top: .8% !important;
    width: 90%;
    margin: auto;
}

.cart-bottom {
    margin-bottom: 20%;
}

table, th, td {
  border: 1px solid rgb(0, 0, 0);
}

th, td {
    width: auto;
}

.separator {
    margin: 0;
    padding: 0;
}

#address-data-order {
    height: 3rem;
    display: inherit;
    width: 20rem;  
}

.data-no-of-bedrooms {
    width: 15rem;
}

.data-total_for_all_properties {
    width: 16rem;
}

#data-row td {
    min-height: 5rem;
}

#data-row tr:nth-child(even) {
    background-color: rgb(237, 237, 237);
}

#data-row tr:nth-child(odd) {
    background-color: rgba(237, 237, 237, .1);
}

.head-info {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(33,0,112, .9);
    color: #ffffff;
}

.table-data {
    padding-top: 2%;
    padding-bottom: 2%;
}

.grand-total-row {
   margin-top: 2%;
}

.table-buttons {
    float: right;
    width: 30rem;
    margin-right: 4%;
}

#continue-shopping-cart,
.secure-checkout-button {
    width: 13rem;
    height: 3.48rem;
    font-size: 95%;
    font-weight: 400;
}

#continue-shopping-cart {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    margin-right: 5%;
    font-size: 600;
}

.secure-checkout-button {
    background-color: rgba(0, 0, 0, .9);
    color: #ffffff;
    border: none;
}

.grand-total-div {
    color: rgb(33,0,112);
    width: 60rem;
    height: 3.48rem;
    margin-right: 4.5%;
    float: right;
}

#inlcluding-vat-span {
    opacity: .8;
    font-size: 60%;
    margin-right: 9%;
}

#total-amount-span {
    float: right;
    width: 19.4rem;
}

#grand-total-span {
    font-size: 140%;
    font-weight: 700;
}

.remove-service {
    display: inline;
}

#remove-service-buttons {
    float: right;
    width: 2.5rem;
    font-size: 50%;
    height: 1.5rem;
    padding-right: 2%;
}

#remove-property {
    position: relative;
    left: 2rem;
    top: .3rem;
}

#remove-bedrooms {
    position: relative;
    left: 11.6rem;
    bottom: .5rem;
}

.data-spans-logged-in {
    position: relative;
    top: .39rem;
}

#service-data {
    width: 20rem;
}

.address-data, 
.remove_address {
    display: inherit;
}

#remove-buttons-holder {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    float: right;
}

#remove-bedrooms-buttons-holder,
#remove-property-buttons-holder {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

#remove-bedrooms-buttons,
#remove-property-buttons,
#remove-service-buttons {
    width: 0;
    height: 0;
    opacity: 0;
}

.remove-icons {
    color: rgba(212, 0, 0, .6);
}

.deactivate-button:hover {
    background-color: rgb(212, 0, 0);
    color: #ffffff;
}

.multiple-data {
    height: 2.98rem;
    box-sizing: border-box;
}

/* --------------------------------------------------- checkout page starts here -------------------------------------------------- */

.checkout-container { 
    padding: 0;
}

.checkout-title {
    margin-top: 6%;
    margin-left: 4.4%;
    width: 89.5%;
}

#property-form select[name="country"] {
    color: rgba(0, 0, 0, .6);
}

.checkout-row {
    margin-bottom: 6%;
}

.checkout-row p {
    margin-left: 15%;
}

#save-details {
    color: rgba(0, 0, 0, .5) !important;
    font-size: 76% !important;
}

#save-details a {
    color: rgb(2, 191, 191) !important;
}

#save-details a:hover {
    color: rgb(2, 191, 191) !important;
    text-decoration: underline;
}

#place-order-button {
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    color: #ffffff;
    border: none;
}

#place-order-button:hover,
.secure-checkout-button:hover {
    background-color: rgba(0, 0, 0, .8);
}

#order-summary-p {
    margin-left: 0;
}

#checkout-form {
    width: 70%;
    float: right;
    margin-right: 15%;
}

.checkout-legends {
    font-size: 72%;
}

#checkout-data-row {
    width: 90%;
    font-size: 85%;
    margin-top: 3.1%;
}

#checkout-data-row th,
#checkout-data-row td {
    border: 1px solid rgba(0, 0, 0, .2);
}

.checkout-head-info {
    background-color: rgb(33,0,112);
    color: #ffffff;
}

#total-cost-per-property-th {
    width: 10rem
}

.checkout-no-of-bedrooms-th {
    width: 10rem;
}

#property-info {
    width: 44rem;
}

#data-tr form {
    display: table-cell;
}

#property-no-of-bedrooms div {
    box-sizing: border-box;
    padding-top: 8.5%;
}

#address-data-checkout {
    width: 20rem;
    box-sizing: border-box;
    padding-top: 7%;
}

#total-cost-per-property-td div {
    box-sizing: border-box;
    padding-top: 8.5%;
}

#checkput-grand-total-div {
    margin-right: 9%;
}

#checkout-buttons {
    margin-right: 5%;
}

#checkout-continue-shopping-button {
    margin-right: 1.6%;
}

.continue-shopping-button,
#adjust-cart-button {
    width: 10rem;
    height: 2.5rem;
    font-size: 80%;
}

#adjust-cart-button {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    font-weight: 400;
}

#charging-details {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    padding: .5px 0 0 12px;
}

#charging-details-total {
    margin-left: .5%;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* --------------------------------------------------- success_checkout page starts here -------------------------------------------------- */

.success-checkout-container {
    margin-top: 30%;
}

#order-summary-span {
    color: rgba(0, 0, 0, .5);
}

.success-order-container legend {
    font-size: 120%;
}

.success-tables {
    width: 75%;
    padding-left: 2%;
    padding-right: 2%;
}

.order-details-col {
    padding-left: 10rem;
    margin-top: 3.2%;
    margin-bottom: 0;
}

#action-order-row {
    margin-bottom: 7.8%;
}

.order-details-col p:not(#billing-total) {
    padding-left: 4.6%;
    font-size: 90%;
}

.not-active-success {
    color: rgba(0, 0, 0, .5);
}

#success-active {
    margin: 0;
    padding: 0 !important;
    font-size: 60% !important;
    color: rgb(212, 0, 0);
}

.success-tables, 
.success-tables th, 
.success-tables td {
    border: none;
    height: 2.5rem;
}

.first-tr {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.success-tables-padding {
    padding-left: 15.7%;
}

.success-tables-padding-not-logged {
    padding-left: 19%;
}

.order-number-span-not-logged,
.order-number-span {
    padding-left: 7%;
}

#order-date-th {
    width: 10rem;
}

#order-date-td {
    font-size: 87.4%;
}

.order-billing-legends-not-logged,
.order-billing-legends {
    padding-left: 4.8%;
}

#order-details-legend-not-logged,
#order-details-legend {
    padding-left: 4.8%;
}

#lineitem-total-td {
    width: 10rem;
}

.billing-address-email {
    padding-left: 9%;
}

.billing-address-address {
    width: 10rem;
}

.street-address-details {
    font-size: 87.4%;
}

.billing-address-details {
    padding-left: 20.4%;
}

.billing-address-not-logged {
    padding-left: 20.6%;
}

#billing-total {
    float: right;
    width: 20rem;
    margin-right: 15%;
}

#total-amount {
    margin-left: 10%;
}

#order-history-buttons {
    float: right;
    margin-right: 23.4%;
}

.profile-order-history {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    width: 10rem;
    height: 2.5rem;
    margin-right: .9rem;
    border: none;
    font-size: 88%;
}

/* --------------------------------------------------- billing details page starts here -------------------------------------------------- */

#billing-container {
    margin-top: 2%;
}


#billing-div {
    padding-left: 8%;
}

#billing-details-row {
    margin-top: 2.1%;
}

/* --------------------------------------------------- account pages start here -------------------------------------------------- */

/* ------------------ login page ------------------ */

#login-paragraph,
#sign-up-paragraph {
    width: 28%;
    color: rgba(0, 0, 0, .5);
    font-size: 92%;
}

#login-paragraph {
    padding-left: .4%;
}

#login-row {
    margin-top: 2%;
}

.login-form {
    width: 28%;
}

.login-a {
    color: rgb(2, 191, 191);
}

.login-a:hover {
    color: rgb(2, 191, 191);
}

#account-action-button {
    width: 100%;
    height: 3.5rem;
}

/* ------------------ logout page ------------------ */

#logout-form {
    width: 17%;
}

#logout-p {
    margin-top: 6%;
}

/* ------------------ sign up page ------------------ */

#signup_form {
    margin-top: 1%;
}

#sign-up-paragraph {
    padding-left: .8%;
}

#who-are-we-tablets {
    position: relative;
    top: 4.3rem;
}

.about-h2-tablets {
    position: relative;
    top: 2.4rem;
}

/* ------------------ verification email page ------------------ */

#verification-container {
    margin-top: 8%;
}

.verification-div {
    margin-left: 6rem;
}

/* ------------------ confirmation email page ------------------ */

.confirmation-button {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    width: 9rem;
    text-transform: uppercase;
    border: none;
    height: 2.8rem;
    margin-left: 6rem;
}

/* --------------------------------------------------- media queries start here -------------------------------------------------- */
@media (min-width: 1500px) {
    #shopping-cart-a {
        right: 3.6rem;
    }

    #how-it-works-separator  {
        margin-top: 3%;
    }

    #head-p-order {
        margin-bottom: 2.6rem;
    }

    #service-button-id {
        margin-right: 1.1%;
    }

    #register-button-id {
        margin-left: 1.1%;;
    }

    .services-container {
        padding: 0 9rem;
    }
}

@media (min-width: 1200px) and (max-width: 1499px) {
    .main-title {
        font-size: 3rem;
    }

    .add-service-button {
        position: relative;
        bottom: .19%;
    }

    .navbar-nav {
        margin-left: 0;
        font-size: 95%;
    }

    .services-container {
        padding: 0 5rem;
    }

    #service-button-id {
        margin-right: 1.1%;
    }

    #register-button-id {
        margin-left: 1.1%;;
    }
    
    .footer-horizontal {
        width: 89.5%;
    }

    .footer-col {
        height: 1rem !important;
    }

    #legal-footer,
    .footer-container p:first-child {
        margin-left: 4.55rem;
    }

    #footer-home-link {
        margin-left: 22.9rem;
    }

    .checkout-title {
        margin-top: 6.9%;
    }

    .footer-categories a {
        margin-left: 3.299rem;
    }

    .title-container h2 {
        font-size: 150%;
    }

    #address-data-order {
        width: 41.9rem;
    }

    #remove-property {
        left: .5rem;
        top: -1rem;
    }

    #address-data-checkout,
    .multiple-data {
        height: 3.5rem;
    }

    #property-info {
        width: 80rem;
    }

    .checkout-row {
        margin-top: 3rem;
    }

    #checkout-form {
        width: 81.9%;
        margin-right: 1rem;
    }

    #checkout-data-row {
        margin-top: 2.6rem;
    }

    .head-p,
    .properties-table {
        width: 95%;
    }

    #bedrooms-comprising {
        width: 9.1rem;
    }

    #not-logged-data-bedrooms {
        height: 1.9rem;
    }

    .form-div {
        padding-left: 8.6%;
    }

    .register-property-button {
        width: 10rem;
        height: 3.1rem;
        font-size: 100%;
    }

    #head-p-order {
        margin-bottom: 2.6rem;
    }

    .back-to-profile-a {
        font-size: 100%;
        padding: .94rem .85rem;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .landing-row {
        height: 100vh;
    }

    .title-container {
        margin-top: 56%;
        width: 75%;
    }

    #category-name,
    .category-image {
        width: 19rem;
    }

    #navbar-brand {
        margin-left: 2%;
        width: 25%;
        font-size: 95%;
    }

    .navbar-nav {
        margin-left: 0;
        margin-right: 0 !important;
    }

    #shopping-cart-a {
        margin-left: 2rem;
    }

    .navbar a {
        font-size: 80%;
    }

    .form-control {
        width: 55%;
    }

    .nav-item {
        position: relative;
        right: 1.05rem;
    }

    #legal-footer,
    .footer-container p:first-child {
        margin-left: 0;
    }

    #footer-home-link {
        margin-left: 14.1rem;
    }

    .footer-horizontal {
        width: 100%;
    }

    .footer-categories a {
        margin-left: .8rem;
    }

    .section-title {
        margin-top: 35.1%;
    }

    .services-row {
        margin-top: 28%;
    }

    .services-container {
        padding: 0 2rem;
    }

    .service-image {
        width: 92%;
    }

    .total-bedrooms {
        display: table-cell;
    }

    .data-no-of-bedrooms {
        width: 10rem;
    }

    #no-of-beds-span {
        position: relative;
        top: 1.5rem;
    }

    .data-total_for_all_properties {
        width: auto;
    }

    #service-data {
        width: fit-content;
    }

    #remove-property {
        left: 0;
        top: -1rem;
    }

    .multiple-data {
        height: 3.35rem;
    }

    .shopping-title {
        margin-top: 19%;
    }

    #add-property-button {
        height: 4rem;
        letter-spacing: .5px;
    }

    #continue-shopping-add-property {
        padding: 1.49rem 2rem;
    }

    .active-property-box {
        margin-top: 3%;
        margin-bottom: 2%;
    }

    #order-history-buttons {
        margin-right: 12.9%;
    }

    #add-property-div {
        width: 65%;
        margin-top: 15%;
    }

    .checkout-title {
        margin-top: 9.5%;
    }

    #not-logged-data-bedrooms {
        height: 1.81rem;
    }

    #remove-bedrooms {
        left: 7rem;
    }

    .form-control {
        width: 100%;
    }

    #property-form {
        margin-top: 2.9%;
    }

    #order-summary-p {
        margin-top: 4.8%;
    }

    #checkout-data-row {
        margin: 0 auto;
        margin-top: 2%;
    }

    #order-summary-p {
        margin-left: 5.4%;
    }

    #checkput-grand-total-div {
        margin-right: 3.5%;
    }

    #checkout-buttons {
        margin-right: 0;
    }

    #address-data-checkout {
        height: 3.38rem;
    }

    #head-p-order,
    .profile-container {
        margin-top: 6%;
    }

    .properties-table {
        width: 100%;
    }

    .order-details-col {
        padding-left: 0;
        margin-left: 0;
    }

    #billing-details-row {
        margin-top: 10.5%;
    }

    .form-div {
        font-size: 100%;
        padding-left: 10.2%;
    }

    .regular-form {
        width: 68%;
    }

    .success-tables {
        width: 90%;
        margin: auto;
    }

    #logout-p {
        margin-top: 20%;
        margin-left: 8%;
        font-size: 95%;
    }

    .success-order-container legend {
        margin-left: 5.9%;
    }

    #billing-total {
        margin-right: 0;
    }

    #order-details-legend-not-logged,
    .order-billing-legends-not-logged,
    .billing-address-not-logged,
    .success-tables-padding-not-logged,
    .order-number-span-not-logged {
        padding-left: 0;
    }

    #sign-up-paragraph,
    #login-paragraph,
    .login-form {
        width: 50%;
    }

    #login-row {
        margin-top: 10%;
    }

    #sign-up-paragraph {
        margin-top: 10.5%;
    }

    #order-details-legend {
        padding-left: 4%;
    }

    .order-number-span {
        padding: 5.9%;
    }   
}

@media (min-width: 768px) and (max-width: 1023px) {
    .landing-row {
        height: 100vh;
    }

    .title-container {
        margin-top: 46.5%;
        width: 75%;
    }

    .main-title {
        font-size: 3rem;
    }

    .footer-container p:first-child {
        margin-left: 0;
        font-size: 100%;
    }

    .footer-horizontal {
        width: 100%;
    }

    #footer-home-link {
        margin-left: 6.8rem;
    }

    .footer-links {
        margin-left: 2rem;
    }

    #legal-footer {
        margin-left: 0;
    }

    .footer-categories a {
        margin-left: .5rem;
        font-size: 70.8%;
    }

    .copyright-message {
        font-size: 93.4%;
    }

    #shopping-cart-nav {
        left: 18.5rem;
    }

    .service-image {
        width: 88.9%;
        height: 300px;
    }

    .select-property {
        width: 89% !important;
    }

    .total-bedrooms {
        display: table-cell;
    }

    .overflow-mobile-div {
        overflow: scroll;
    }

    #checkout-data-row,
    #data-table-row {
        width: max-content;
    }

    #data-row {
        margin-top: 1.5% !important;
        margin-left: 3.05%;
    }

    .shopping-title {
        margin-top: 11.5%;
    }

    #total-amount-span {
        float: none;
        margin-left: 30.1%;
    }

    .table-buttons {
        float: none;
        margin-left: 4.5%;
    }

    #remove-property {
        left: 0;
        top: -1rem;
    }

    #property-info {
        width: auto;
    }

    #checkout-data-row {
        margin-top: .4%;
        margin-left: 5%;
    }

    #order-summary-p {
        margin-left: 5%;
        margin-top: 6.5%;
    }

    .checkout-row p {
        margin-left: 5%;
    }

    #checkout-form {
        float: none;
        width: 75%;
        margin-left: 5%;
    }

    .checkout-title {
        margin-top: 11.5%;
    }

    #total-amount-span {
        margin-left: 34%;
    }

    .table-buttons {
        margin-left: 0;
    }

    .success-tables {
        width: max-content;
    }

    .order-details-col {
        padding-left: 0;
    }

    .success-tables td {
        width: 16rem;
    }

    .billing-address-email,
    .billing-address-not-logged,
    .success-tables-padding-not-logged,
    .billing-address-details,
    .success-tables-padding,
    #order-details-legend-not-logged, 
    #order-details-legend,
    .order-number-span-not-logged, 
    .order-number-span,
    .order-billing-legends-not-logged, 
    .order-billing-legends {
        padding-left: 0 !important;
    }

    #billing-total {
        float: none;
        margin-bottom: 5%;
    }

    .order-details-col {
        margin-bottom: 0;
    }

    #navbar-brand {
        margin-left: 3.5%;
    }

    #shopping-cart-nav {
        left: 15.5rem;
    }

    .btn-outline-success {
        width: 3.1rem;
        color: rgb(2, 191, 191);
        font-size: 119%;
    }

    .search-input {
        border: 1px solid rgba(0, 0, 0, .8);
    }

    #search-mobile {
        width: 80%;
        display: inline;
        margin-bottom: 0;
        border: none;
    }

    #filtering-row {
        margin-top: 1.5rem;
    }

    .section-title-container {
        margin-top: 34.5%;
    }

    .properties-table {
        width: 100%;
    }

    #head-p-order {
        margin-top: 6%;
    }

    .profile-container {
        margin-bottom: 9%;
    }

    .regular-form {
        width: 71.5%;
    }

    #logout-form {
        width: auto;
    }

    #add-property-div {
        width: 68.5%;
        padding-left: 0px;
        margin-top: 3.95rem;
    }

    #order-history-buttons {
        float: none;
    }

    #sign-up-paragraph,
    #login-paragraph,
    .login-form {
        width: 50%;
    }

    #login-paragraph {
        margin-top: 12.8%;
    }

    #sign-up-paragraph {
        margin-top: 5%;
    }

    .about-divs-p {
        height: max-content;
    }
}

@media (max-width: 576px) {
    .title-container {
        margin-top: 58.9%;
        width: 100%;
        padding: 2rem 0;
    }

    .main-title {
        font-size: 2.41rem;
    }

    .landing-row {
        height: 100vh;
    }

    .title-container h2 {
        font-size: 1.4rem;
    }

    .categories-title h2 {
        margin-top: 6%;
        font-size: 2rem;
    }

    .message-container {
        right: 15px;
    }

    .categories-title h4 {
        font-size: 1.4rem;
    }

    .category-container {
        margin-top: 8.9%;
        margin-bottom: 0;
    }

    #detailed-image-mobile {
        padding-right: 0;
    }

    #detailed-mobile {
        padding: 0 1.5rem;
    }

    .property-container {
        padding: 0 1rem;
    }

    #category-containers {
        padding-left: 0;
        padding-right: 0;
    }

    .category-image {
        width: 10rem;
        height: 7.95rem;
    }

    #order-history-buttons {
        float: none;
    }

    .category-column {
        margin: auto;
        margin-bottom: 1.4rem;
    }

    .category-column,
    #category-name {
        width: 10rem;
    }

    #category-name {
        font-size: 78%;
        padding-top: 1.1rem;
        padding-bottom: 2.29rem;
    }

    .footer-container {
        height: 9rem;
    }

    .footer-container p:first-child {
        margin-left: 0;
        font-size: 100%;
    }

    #account-queries,
    #social-queries {
        text-align: center;
    }

    .footer-horizontal {
        margin-bottom: 6%;
        width: 80%;
    }

    #footer-home-link {
        margin-left: 0;
    }

    .about-divs-p {
        height: max-content;
        font-size: 110%;
    }

    .about-buttons-row {
        padding-right: 0;
        margin-top: 17.5%;
    }

    #navbar-brand {
        margin-left: .68rem;
        font-size: 1.1rem;
    }

    #form-search {
       width: 50%;
    }

    #shopping-cart-nav {
        left: 12.5rem;
        font-size: 78%;
    }

    .filtering-container {
        margin-top: 6.9%;
    }

    .filtering-buttons {
        width: 6.2rem;
        font-size: 85%;
    }

    .btn-outline-success {
        width: 3.1rem;
        color: rgb(2, 191, 191);
        font-size: 119%;
    }

    .search-input {
        border: 1px solid rgba(0, 0, 0, .8);
    }

    #search-mobile {
        width: 80%;
        display: inline;
        margin-bottom: 0;
        border: none;
    }

    #filtering-row {
        margin-top: 6%;
    }

    #search-by-price-id {
        font-size: 75%;
    }

    .section-title {
        margin-top: 45% !important;
    }

    #detailed-service-container {
        margin-top: 3.5rem;
        padding: 0;    
    }

    .service-image {
        width: 100%;
        height: auto;
    }

    .services-row h3 {
        margin-top: 1.5rem;
    }

    .property-select-text,
    .select-property {
        width: 85% !important;
    }

    #price-col,
    #detailed-action-buttons {
        margin-top: 5%;
    }

    .total-bedrooms {
        display: table-cell;
    }

    .price-variation-paragraph {
        margin-bottom: 0;
    }

    .table-buttons {
        float: none;
        width: auto;
    }

    #continue-shopping-cart, 
    .secure-checkout-button {
        width: 11rem;
        height: 3rem;
        font-size: 80%;
    }

    .overflow-mobile-div {
        overflow: scroll;
    }

    #data-table-row {
        width: max-content;
    }

    #data-row {
        margin-left: 1rem;
    }

    .grand-total-div {
        margin-right: 0;
    }

    .checkout-title {
        margin-top: 20%;
    }

    #remove-property {
        left: 0;
        top: -1rem;
    }

    .multiple-data {
        height: 3.34rem;
    }

    #checkout-form {
        width: 95%;
        margin-right: 0;
        margin: auto;
        margin-left: 0;
    }

    #property-info {
        width: auto;
    }

    .checkout-row p {
        margin-left: 5%;
    }

    #order-summary-p {
        margin-top: 2rem;
        margin-left: 5%;
    }

    #checkout-data-row {
        width: max-content;
        margin-left: 5%;
    }

    #checkout-buttons {
        margin-right: 0;
    }

    .order-details-col {
        width: max-content;
        padding-left: 0 !important;
    }

    .order-details-col td {
        width: 20rem;
    }

    .checkout-title {
        margin-left: 0;
    }

    .billing-address-not-logged,
    .success-tables-padding-not-logged,
    .billing-address-details,
    .success-tables-padding,
    #order-details-legend-not-logged, 
    #order-details-legend,
    .order-number-span-not-logged, 
    .order-number-span,
    .order-billing-legends-not-logged, 
    .order-billing-legends {
        padding-left: 0 !important;
    }

    #billing-total {
        float: none;
        margin-right: 0;
    }

    #checkout-title-col {
        padding-left: 5%;
    }

    .success-tables {
        width: 85%;
    }

    #order-history-buttons {
        margin-right: 0;
    }

    .properties-table {
        width: max-content;
    }

    .profile-row {
        width: 100%;
        margin-top: 0 !important;
    }

    .profile-container {
        margin-top: 1.1rem;
    }

    #head-p-mobile {
        margin-top: 0;
    }

    .head-p {
        margin-top: 1.9rem;
    }

    .regular-form {
        width: 100%;
    }

    #billing-details-title-col {
        padding-left: 0;
    }

    #billing-details-title-col hr {
        width: 95vw;
    }

    .form-div {
        width: 100%;
        padding-left: 3.9%;
    }

    #update-billings {
        width: 9.9rem;
        height: 3.34rem;
    }

    .action-buttons-billing-details {
        width: 12rem;
        font-size: 70%;
        height: 3rem;
        margin-top: 1rem;
    }

    #logout-p {
        margin-top: 16%;
    }

    #logout-form {
        width: auto;
    }

    #login-paragraph, 
    #sign-up-paragraph,
    .login-form {
        width: 90%;
    }

    #add-property-div {
        width: 90%;
    }

    .active-property-box {
        margin-top: 4.8%;
    }

    #add-property-form {
        width: 98%;
        margin: auto;
    }

    #add-property-button {
        font-size: 72%;
        width: 9rem;
    }

    #continue-shopping-add-property {
        padding: .98rem 1.4rem;
        font-size: 72%;
    }

    .personalised-action-buttons {
        text-align: center;
    }

    .personalised-continue-shopping, 
    .personalised-register {
        width: 9rem;
        font-size: 70%;
    }

    #personalised-title {
        font-size: 145%;
        letter-spacing: .1rem;
    }

    .personalised-shopping-div p {
        font-size: .5rem;
    }
}

@media (max-width: 375px) {
    .main-title {
        font-size: 2.1rem;
    }

    .title-container h2 {
        font-size: 1.35rem;
    }

    #navbar-brand {
        font-size: .95rem;
    }

    #shopping-cart-nav {
        left: 11.4rem;
    }

    .main-action-buttons {
        width: 6rem;
        height: 3rem;
        font-size: 85%;
        padding-bottom: 2rem !important;
        padding-right: 5.1rem !important;
    }

    #continue-shopping-cart,
    .secure-checkout-button {
        width: 9rem;
        font-size: 75%;
        padding-left: 1rem;
        padding-top: .2rem;
    }

    #continue-shopping-cart {
        padding-left: 2rem;
    }

    .continue-shopping-button, 
    #adjust-cart-button {
        width: 9rem;
    }

    #adjust-cart-button {
        padding-left: 2.9rem;
    }

    #order-action-button {
        font-size: 90%;
    }
}



