@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.navbar {
    background-color: rgba(0, 0, 0, .2);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.blue {
    background-color: rgb(33,0,112);
}

.dark-gray {
    background-color: rgba(0, 0, 0, 0);
}

#navbar-brand {
    margin-left: 9.5%;
    font-weight: 900;
    font-size: 1.3rem;
    text-decoration: none;
    width: 50%;
}

.navbar-nav {
    margin-left: 25%;
    margin-right: 2% !important;
}

.navbar a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .05rem;
}

.btn-outline-success {
    color: #ffffff;
    border: 1px solid #ffffff;
    transition-property: background-color, border;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.btn-outline-success:hover {
    background-color: rgb(2, 191, 191);
    border: 1px solid rgb(2, 191, 191);
}

.buttons {
    transition-property: background-color, color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

/* --------------------------------------------------- footer section starts here -------------------------------------------------- */

.footer-container {
    background-color: rgb(33,0,112);
    color: #ffffff;
    padding: 1.5rem 1.5rem 0 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12.9rem;
    margin-top: 29%; 
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#container-wrapp {
  padding-bottom: 12.9rem;
}

.footer-container a {
    color: #ffffff;
    text-decoration: none;
}

.footer-horizontal {
    width: 70%;
    height: .05rem;
    background-color: #ffffff;
}

.social-row a {
    margin-left: 2.5rem;
}

.social-row a:first-child {
    margin-left: 25rem;
}

.footer-container p:first-child {
    margin-left: 17.7rem;
    font-size: 120%;
}

.footer-container p:first-child span:first-child:not(#facebook-span) span {
    display: inline;
    font-size: 150%;
    padding-top: .2rem;
    margin-left: 1.6rem;
}

#facebook-span {
    margin-left: 1rem;
}

.footer-categories {
    margin-top: 1.3rem;
    letter-spacing: .06rem;
}

.footer-categories a {
    margin-left: 4.1rem;
}

#legal-footer {
    margin-left: 17.5rem;
}

.copyright-message {
    margin-top: 1.7rem;
    font-weight: 100;
}

/* --------------------------------------------------- toast messages starts here -------------------------------------------------- */

.message-container {
    position: fixed;
    top: 72px;
    right: 25px;
    border-radius: 0;
    z-index: 2000;
}

.message-container i {
    font-size: 150%;
    margin-right: 2%;
}

#success {
    background-color: green !important;
}

/* --------------------------------------------------- home page starts here -------------------------------------------------- */

            /* ------- landing section ------ */

.landing-row {
    height: 76vh;
    background: url('/media/house_tower.jpg') no-repeat center center fixed;
    background-size: cover;
}

.title-container {
    margin-top: 17%;
    padding: 2rem;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
}

.title-container h2 {
    font-style: italic;
    text-transform: capitalize;
}

.main-title {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 900 !important;
}

.main-action-buttons {
    height: 4rem;
    width: 9rem;
    background-color: rgb(2, 191, 191);
    color: #ffffff;
}

.main-action-buttons:hover {
    background-color: #ffffff;
    color: rgb(2, 191, 191);
}

.categories-title {
    margin-top: 3.5%;
}

.categories-title h2 {
    font-size: 3rem;
    font-weight: bold !important;
    letter-spacing: .08rem;
}

.categories-title h4 {
    margin-top: 1%;
    font-size: 2rem;
}

            /* ------- category section ------ */

.category-container {
    margin-top: 5%;
    margin-bottom: 4.5%;
}

.category-image {
    width: 21rem;
    height: 18rem;
}

.category-image:hover {
    box-shadow: none;
}

.category-column {
    margin-bottom: 2%;
}

/* --------------------------------------------------- service page starts here -------------------------------------------------- */

.services-container {
    margin-top: 5%;
}

.services-row {
    margin-top: 9%;
}

.section-container {
    height: 30vh;
    background: url('/media/shard.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
}

.section-title-container {
    margin-top: 11%;
}

.section-title {
    color: #ffffff;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.service-holder {
    margin-bottom: 1.9rem;
}

.rounded-circle {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
    border: 2px solid rgb(2, 191, 191);
    background-color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.rounded-circle:hover {
    background-color: rgb(2, 191, 191);
}

.service-name {
    font-weight: 700;
    margin-bottom: 0;
    text-transform: capitalize;
}

.service-description {
    font-size: .8rem;
}

.see-more {
    color: rgb(33,0,112);
    text-decoration: none;
    margin-left: 1.1%;
}

.filtering-container {
    margin-top: 2%;
}

.filtering-buttons {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    width: 9rem;
    border: 1px solid rgb(2, 191, 191);
    border-radius: 0;
}

.filtering-buttons:hover {
    background-color: #ffffff;
    color: rgb(2, 191, 191);
}

/* --------------------------------------------------- detailed service page starts here -------------------------------------------------- */

.horizontal-separator {
    margin-bottom: 5%;
}

.service-image {
    width: 70%;
    height: 450px;
}

.total-bedrooms {
    margin-left: 5rem;
}

#price-col {
    margin-top: 3%;
}

.price {
    margin-left: .2rem;
}

.property-container {
    margin-top: 4%;
}

.property-select-text {
    margin: 1.8% 0;
    width: 70%;
    font-size: 80%;
}

#add-service-button {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    border: none;
    width: 9rem;
    height: 2.4rem;
    margin-top: 0;
    border: 1px solid rgb(2, 191, 191);
}

#add-service-button:hover {
    background-color: #ffffff;
    color: rgb(2, 191, 191);
}

/* --------------------------------------------------- add property page starts here -------------------------------------------------- */

.add-property-container {
    margin-top: 7%;
}

#add-property-div {
    width: 48%;
    height: 5rem;
    font-size: 85%;
    padding: 1%;
    margin-bottom: 2.9%;
    border: 1.5px solid rgb(33,0,112);
    box-sizing: border-box;
}

#property-form label {
    font-size: 120%;
}

.register-property-button {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
    border: 1px solid rgb(2, 191, 191);
    border-radius: 0;
    width: 100%;
    height: 4rem;
    font-size: 130%;
    letter-spacing: .5px;
}

.register-property-button:hover {
    background-color: #ffffff;
    color: rgb(2, 191, 191);
}

.form-control {
    margin-bottom: 2.5%;
    border-radius: 0;
}

/* --------------------------------------------------- profile page -------------------------------------------------- */

.profile-margin {
    margin-top: 8%
}

.profile-container {
    margin-top: 5%;
}

.profile-row {
    width: 70%;
}

.no-of-properties {
    width: 41%;
}

/* --------------------------------------------------- cart page starts here -------------------------------------------------- */

.cart-container {
    margin-top: 6.5%;
    margin-bottom: 8%;
}

.shopping-title {
    margin-top: 6.5%;
    margin-left: 3.89%;
}

.cart-empty-row {
    margin-top: .8%;
    margin-left: 3.89%;
}

#data-row {
    margin-top: .8% !important;
    width: 90%;
    margin: auto;
}

.cart-bottom {
    margin-bottom: 20%;
}

table, th, td {
  border: 1px solid rgb(0, 0, 0);
}

th, td {
    width: auto;
}

.separator {
    margin: 0;
    padding: 0;
}

#address-data-order {
    height: 2.2rem;
    display: inherit;
    width: 20rem;
    
}

.data-no-of-bedrooms {
    width: 15rem;
}

.data-total_for_all_properties {
    width: 16rem;
}

#data-row td {
    min-height: 5rem;
}

#data-row tr:nth-child(even) {
    background-color: rgb(237, 237, 237);
}

#data-row tr:nth-child(odd) {
    background-color: rgba(237, 237, 237, .1);
}

.head-info {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(33,0,112, .9);
    color: #ffffff;
}

.table-data {
    padding-top: 2%;
    padding-bottom: 2%;
}

.grand-total-col {
    width: 95%;
}

.grand-total {
    float: right;
    width: 16.05rem;
    border: 1px solid rgb(0, 0, 0);
    border-top: none;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .8);
    color: #ffffff;
    font-size: 150%;
    font-weight: 700;
    letter-spacing: .5px;
}

#grand-total-span {
    margin-left: 0
}

.currency-margin {
    margin-left: 1%;
}

.remove-service {
    display: inline;
}

#remove-service-buttons {
    float: right;
}

#remove-property {
    position: relative;
    left: 2rem;
}

#service-data {
    width: 20rem;
}

.address-data, .remove_address {
    display: inherit;
}

.remove-buttons {
    float: right;
    height: 1.5rem;
    font-size: 50%;
    margin-top: 25%;
    margin-right: 0;
}

.remove-buttons, #remove-service-buttons {
    border: 1px solid rgb(2, 191, 191);
    color: rgb(2, 191, 191);
    background-color: #ffffff;
    transition-property: background-color, color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.remove-buttons:hover, #remove-service-buttons:hover {
    background-color: rgb(2, 191, 191);
    color: #ffffff;
}

.multiple-data {
    height: 2.98rem;
    box-sizing: border-box;
}

/* --------------------------------------------------- checkout page starts here -------------------------------------------------- */

.checkout-container { 
    padding: 0;
}

.checkout-title {
    margin-top: 6%;
    margin-left: 4.4%;
    width: 89.5%;
}

.checkout-row {
    margin-bottom: 6%;
}

.checkout-row p {
    margin-left: 15%;
}

#order-summary-p {
    margin-left: 0;
}

#checkout-form {
    width: 70%;
    float: right;
    margin-right: 15%;
}

.checkout-legends {
    font-size: 72%;
}

#checkout-data-row {
    width: 90%;
    font-size: 85%;
    margin-top: 3.1%;
}

#checkout-data-row th,
#checkout-data-row td {
    border: 1px solid rgba(0, 0, 0, .2);
}

.checkout-head-info {
    background-color: rgba(0, 0, 0, .2);
    color: rgb(33,0,112);
}

#total-cost-per-property-th {
    width: 10rem
}

.checkout-no-of-bedrooms-th {
    width: 10rem;
}

#property-info {
    width: 44rem;
}

#data-tr form {
    display: table-cell;
}

#property-no-of-bedrooms div {
    box-sizing: border-box;
    padding-top: 8.5%;
}

#address-data-checkout {
    width: 20rem;
    box-sizing: border-box;
    padding-top: 7%;
}

#total-cost-per-property-td div {
    box-sizing: border-box;
    padding-top: 8.5%;
}

#grand-total-checkout {
    background-color: rgba(0, 0, 0, .2);
    color: rgb(0, 0, 0);
    margin-right: 5.3%;
    width: 16.31rem;
    border: 1px solid rgba(0, 0, 0, .2);
    border-top: none;
}

#charging-details {
    background-color: rgba(0, 0, 0, .8);
    color: #ffffff;
    padding: .5px 0 0 12px;
}

#charging-details-total {
    margin-left: .5%;
}

/* --------------------------------------------------- success_checkout page starts here -------------------------------------------------- */

.success-order-container legend {
    font-size: 120%;
}

.success-tables {
    width: 75%;
}

.success-tables th {
    background-color: rgba(0, 0, 0, .2);
    color: rgb(33,0,112);
}



