{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row checkout-title">
        <div class="col-12">
            <h1 class="text-uppercase">add a property</h1>
            <hr>
        </div>
    </div>
    <div id="add-property-row" class="row">
        <div id="add-property-div" class="col-12 form-div mx-auto">        
            <p>In the form provided below please register a property and it will be added to your list of properties. Upon choosing a service, you can choose from this list a property for which the service to be executed.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-auto regular-form">
                <form id="add-property-form" action="{% url 'add_property' %}" method="POST">
                    {% csrf_token %}
                    {{ property_form.street_address | as_crispy_field }}
                    {{ property_form.house_name | as_crispy_field }}
                    {{ property_form.post_code | as_crispy_field }}
                    {{ property_form.no_of_bedrooms | as_crispy_field }}
                    <label class="active-property-box" for="id-save-info">Please note that only properties with a maximum number of 9 bedrooms can be registered. After registration, don't forget to activate the property from your profile page.</label>
                    <input type="checkbox" id="activate" name="activate-property" checked>
                    <div>
                    <input id="add-property-button" type="submit" value="REGISTER PROPERTY" class="buttons register-property-button">
                    <a id="continue-shopping-add-property" href="{% url 'profile' %}" class="text-uppercase">back to profile</a>
                    </div>
                </form>
        </div>
    </div>
</div>

{% block postloadjs %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar').css('background-color', 'rgb(33,0,112)');
    });
</script>
{% endblock %}

{% endblock %}