{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="property-form">
    <form action="{% url 'add_property' %}" method="POST" style="margin-top: 300px">
        {% csrf_token %}
        {{ property_form.street_address | as_crispy_field }}
        {{ property_form.house_name | as_crispy_field }}
        {{ property_form.post_code | as_crispy_field }}
        {{ property_form.no_of_bedrooms | as_crispy_field }}
        <input type="submit" value="Submit">
    </form>
</div>

{% block postloadjs %}

<script type="text/javascript">
$(document).ready(function(){
    $('.footer-container').css('margin-top', '30%')
});
</script>

{% endblock %}


{% endblock %}

