{% extends "base.html" %}
{% load static %}
  
    {% block body %}
    <div id="billing-container" class="container-fluid form-containers">
        {% if messages %}
            <div>
                <strong>Messages:</strong>
                <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="row checkout-title">
            <div class="col-12">
                {% if user.is_authenticated %}
                    <h1 class="text-uppercase">sign out</h1>
                {% else %}
                    <h1 class="text-uppercase">sign in</h1>
                {% endif %}
                <hr>
            </div>
        </div>   
        {% block content %}
        {% endblock %}
        {% endblock %}
        {% block extra_body %}
        {% endblock %}
    </div>

{% block postloadjs %}

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar').css('background-color', 'rgb(33,0,112)');
    });
</script>

{% endblock %}
