{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row checkout-title">
        <div class="col-12">
            <h1 class="text-uppercase">{% trans "Sign Up" %}</h1>
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="row">
            <div class="col-12">
                <div id="sign-up-paragraph" class="mx-auto">
                    <p id="login-p-2">Sign up for a personalized shopping experience. If you already have an account, please
                    <a href="{{ login_url }}" class="login-a">sign in</a>.</p>
                </div>
            </div>
        </div>
        <div id="signup_form" class="col-12 login-form mx-auto">
            <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="primaryAction buttons register-property-button text-uppercase mt-2" type="submit">{% trans "Sign Up" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
